.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #eee;
  padding: 30px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

.postCard {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 200ms ease-in-out;
}

.postCard:hover{
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.postCard img {
  max-width: 100%;
  min-width: 100%;
}

.postContent {
  padding: 30px;
}